### AINode app
name: ainode

## Common part for all the containers
x-common: &common
    logging:
      driver: none

## Common part for all the containers requiring access to GPU
x-common-render: &common-render
    devices:
      - /dev/kfd
      - /dev/dri
    logging:
      driver: none

services:

  # ChromaDB
  chroma:
    <<: *common
    build:
      args:
        # UID and GID for the user, can be the same as for the local user
        USER_UID: 1000
        USER_GID: 100
      dockerfile: ./docker/chroma/Dockerfile
    container_name: ainode-chroma
    hostname: ainode-chroma
    networks:
      - ainode-internal
    restart: unless-stopped
    volumes:
      - ./data/chroma:/home/user/app/chroma
      - type: tmpfs
        target: /home/user/.cache
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /tmp
        tmpfs:
          mode: 01777

  # ComfyUI (WebUI, API)
  comfyui:
    <<: *common-render
    build:
      args:
        # UID and GID for the user, can be the same as for the local user
        USER_UID: 1000
        USER_GID: 100
        # Host's GID of the 'render' group, on Gentoo it's 28
        RENDER_GID: 28
        # Host's GID of the 'video' group, on Gentoo it's 27
        VIDEO_GID: 27
      dockerfile: ./docker/comfyui/Dockerfile
    container_name: ainode-comfyui
    hostname: ainode-comfyui
    networks:
      - ainode-internal
    restart: unless-stopped
    volumes:
      - ./data/comfyui/config:/home/user/app/user/default
      - ./data/comfyui/custom_nodes:/home/user/app/custom_nodes
      - ./data/common/models:/home/user/app/models
      - type: tmpfs
        target: /home/user/.cache
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /home/user/app/input
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /home/user/app/output
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /tmp
        tmpfs:
          mode: 01777

  # Kokoro FastAPI (API)
  kokoro-fastapi:
    <<: *common-render
    build:
      args:
        # UID and GID for the user, can be the same as for the local user
        USER_UID: 1000
        USER_GID: 100
        # Host's GID of the 'render' group, on Gentoo it's 28
        RENDER_GID: 28
        # Host's GID of the 'video' group, on Gentoo it's 27
        VIDEO_GID: 27
      dockerfile: ./docker/kokoro-fastapi/Dockerfile
    container_name: ainode-kokoro-fastapi
    hostname: ainode-kokoro-fastapi
    networks:
      - ainode-internal
    restart: unless-stopped
    # Ugly workaround, adding options to tmpfs mount is allowed only for short format
    tmpfs:
      - /tmp:exec
    volumes:
      - type: tmpfs
        target: /home/user/.cache
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /home/user/app/output
        tmpfs:
          mode: 01777

  # Ollama (API)
  ollama:
    <<: *common-render
    build:
      args:
        # UID and GID for the user, can be the same as for the local user
        USER_UID: 1000
        USER_GID: 100
        # Host's GID of the 'render' group, on Gentoo it's 28
        RENDER_GID: 28
        # Host's GID of the 'video' group, on Gentoo it's 27
        VIDEO_GID: 27
      dockerfile: ./docker/ollama/Dockerfile
    container_name: ainode-ollama
    hostname: ainode-ollama
    networks:
      - ainode-internal
    restart: unless-stopped
    # The only way to set 'exec' on tmpfs is to use old syntax
    tmpfs:
      - /home/user/tmp:exec,mode=01777
    volumes:
      - ./data/ollama:/home/user/.ollama
      - type: tmpfs
        target: /home/user/.cache
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /tmp
        tmpfs:
          mode: 01777

  # Revese Proxy (nginx)
  reverseproxy:
    <<: *common
    build:
      dockerfile: ./docker/reverseproxy/Dockerfile
    container_name: ainode-reverseproxy
    depends_on:
      - ollama
      - comfyui
      - openwebui
    hostname: ainode-reverseproxy
    networks:
      - ainode-internal
    ports:
      - 80:80
      - 443:443
      - 5000:5000
      - 11434:11434
    restart: unless-stopped
    volumes:
      - ./data/reverseproxy/sites-enabled:/etc/nginx/sites-enabled
      - ./ssl:/etc/nginx/certs
      - type: tmpfs
        target: /tmp
        tmpfs:
          mode: 01777

  # Open WebUI (WebUI, API)
  openwebui:
    <<: *common-render
    build:
      args:
        # UID and GID for the user, can be the same as for the local user
        USER_UID: 1000
        USER_GID: 100
      dockerfile: ./docker/openwebui/Dockerfile
    container_name: ainode-openwebui
    depends_on:
      - chroma
    hostname: ainode-openwebui
    networks:
      - ainode-internal
    restart: unless-stopped
    volumes:
      - ./data/openwebui/data:/home/user/app/backend/data
      - type: tmpfs
        target: /home/user/.cache
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /home/user/app/backend/data/cache
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /tmp
        tmpfs:
          mode: 01777

  # Open WebUI - Amnesic (WebUI, API)
  openwebui-amnesic:
    <<: *common-render
    build:
      args:
        # UID and GID for the user, can be the same as for the local user
        USER_UID: 1000
        USER_GID: 100
      dockerfile: ./docker/openwebui-amnesic/Dockerfile
    container_name: ainode-openwebui-amnesic
    hostname: ainode-openwebui-amnesic
    networks:
      - ainode-internal
    ports:
      - 8443:8080
    restart: unless-stopped
    volumes:
      - ./ssl:/home/user/app/ssl
      - type: tmpfs
        target: /home/user/.cache
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /home/user/app/backend/data
        tmpfs:
          mode: 01777
      - type: tmpfs
        target: /tmp
        tmpfs:
          mode: 01777

networks:
  ainode-internal:
    driver: bridge
    name: ainode-internal
